@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.loader {
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  border: 6px solid $ldr-base;
  border-radius: 50%;
  border-top: 6px solid $ldr-accent;
  height: 50px;
  left: calc(50% - 50px);
  position: absolute;
  top: calc(50% - 50px);
  width: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
