/*
  All color variables go here.
 */

// Base colors
$forest-green: #1E392A;
$electric-green: #3CC47C;
$pale-orange: #E9C893;
$tin: #828081;
$white: #FFFFFF;

// Header colors
$hdr-bg: $electric-green;
$hdr-text: $white;
$hdr-icon: $white;

// Home
$home-text: $electric-green;
$home-landing-button: $white;

// Loader
$ldr-base: $electric-green;
$ldr-accent: $white;
